<div class="container">
  <div class="row">
    <div class="col-sm-12"><h2>{{pagetitle}}</h2>
      <form action="https://www.amazon.com/s?k={{searchterm}}&amp;camp=1789&amp;creative=9325&amp;linkCode=xm2&amp;linkId=d6631bb329c34559e7cf05005912de64&amp;tag=product-review-spec-20&amp;ref=as_li_qf_sp_sr_il_tl" method="GET">
        <input [(ngModel)]="searchterm"><a href="https://www.amazon.com/s?k={{searchterm}}&camp=1789&creative=9325&linkCode=xm2&linkId=d6631bb329c34559e7cf05005912de64&tag=product-review-spec-20&ref=as_li_qf_sp_sr_il_tl" target="_blank" type="submit" class="btn btn-primary">SEARCH</a>
      </form>
    </div>
    <div class="col-sm-12"><h3><a routerLink="/amazon-product-reviews/electronics-home-accessories">{{subtitle0}} > ></a></h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B079QHML21&asins=B079QHML21&linkId=0debeaffb0eaeea152b56f36b1a8c241&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B0791TX5P5&asins=B0791TX5P5&linkId=d28e223bda90c3a69696a429cf24f010&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B06Y56NDF4&asins=B06Y56NDF4&linkId=ad20499450624c6204070777a1f96d3a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B0792KTHKJ&asins=B0792KTHKJ&linkId=43940aef2a5f84031730548031cec54e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B075XN1NZC&asins=B075XN1NZC&linkId=a1de7499b3ac0d7db9bf7567b757d75a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h3>{{subtitle1}}</h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07BTS6H4W&asins=B07BTS6H4W&linkId=d6cf8190399bac6eb8b0131db8bc9e87&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B078DPCY3T&asins=B078DPCY3T&linkId=6644ffbeca680352fb0fd92a61668004&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B073JYC4XM&asins=B073JYC4XM&linkId=f0b6df9ecbf8a51c8d97046e6b472fb1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B00WR23VRI&asins=B00WR23VRI&linkId=360b6ef8cd441599be26dd73dc64f317&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B06W55K9N6&asins=B06W55K9N6&linkId=2e93d44c9aaed469278527c2da28d619&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h3>{{subtitle2}}</h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07NQGRWSF&asins=B07NQGRWSF&linkId=ab434acc04885ac88938af019b3aba22&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B076H3SRXG&asins=B076H3SRXG&linkId=2e70f916d57b11c8e2083a3a767fbb6d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07DGR98VQ&asins=B07DGR98VQ&linkId=3304fa6c7656873f0416f4c9d2f411b0&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B079TGL2BZ&asins=B079TGL2BZ&linkId=f6109e7b77d907ba71df6653d4895bf9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07K3BZSNK&asins=B07K3BZSNK&linkId=58546f6b545ebdceb524f6a5247be997&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <br/>
</div>
 <br/>
 <div id="share">
  <h5>Share this on:</h5>
      <!-- facebook -->
      <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}&placeholder={{title}}" target="blank"><i class="fab fa-facebook-f"></i></a>
    
      <!-- twitter -->
      <a class="twitter" href="https://twitter.com/intent/tweet?status=Come visit or Check Out this+{{title}}+Click on '+{{header_link}}+' on+{{url}}" target="blank"><i class="fab fa-twitter"></i></a>
    
     <!-- Reddit (url, title) -->
      <a href="http://reddit.com/submit?url={{url}}&title={{title}}" target="_blank" class="share-btn reddit">
        <i class="fab fa-reddit"></i>
      </a>

      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?url={{url}}&title={{title}}&summary={{summary}}&source={{source_url}}" target="_blank" class="share-btn linkedin">
        <i class="fab fa-linkedin"></i>
      </a>

      <!-- Email -->
      <a href="mailto:?subject={{subject}}&body={{body}}" target="_blank" class="share-btn email">
        <i class="fa fa-envelope"></i>
      </a>

    </div><br/><br/>
 