<div class="container">
  <div class="row">
    <div class="col-sm-12"><h2>{{pagetitle}}</h2></div>
    <div class="col-sm-12"><h3>{{subtitle0}}</h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B079QHML21&asins=B079QHML21&linkId=0debeaffb0eaeea152b56f36b1a8c241&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B0791TX5P5&asins=B0791TX5P5&linkId=d28e223bda90c3a69696a429cf24f010&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B06Y56NDF4&asins=B06Y56NDF4&linkId=ad20499450624c6204070777a1f96d3a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B0792KTHKJ&asins=B0792KTHKJ&linkId=43940aef2a5f84031730548031cec54e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B075XN1NZC&asins=B075XN1NZC&linkId=a1de7499b3ac0d7db9bf7567b757d75a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h3>{{subtitle1}}</h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B01N1NT9Y6&asins=B01N1NT9Y6&linkId=c31e331543b08015bb1b21747089f9c1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07JK98NNQ&asins=B07JK98NNQ&linkId=6ce9d3d4f73dc6e7508f0467e1fc2389&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B079NH4VHR&asins=B079NH4VHR&linkId=d1ba47ddb283e525954c0e40d1febac7&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B074J1GPB8&asins=B074J1GPB8&linkId=516888696dde1f3d7cc66adb82fa60e4&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B073P73RTZ&asins=B073P73RTZ&linkId=e08d961ca063703c1b704bba863f3fe1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h3>{{subtitle2}}</h3></div>
  </div>
  <div class="row">
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07NQGRWSF&asins=B07NQGRWSF&linkId=ab434acc04885ac88938af019b3aba22&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B076H3SRXG&asins=B076H3SRXG&linkId=2e70f916d57b11c8e2083a3a767fbb6d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07DGR98VQ&asins=B07DGR98VQ&linkId=3304fa6c7656873f0416f4c9d2f411b0&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B079TGL2BZ&asins=B079TGL2BZ&linkId=f6109e7b77d907ba71df6653d4895bf9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
    <div class="col-sm"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=product-review-spec-20&marketplace=amazon&region=US&placement=B07K3BZSNK&asins=B07K3BZSNK&linkId=58546f6b545ebdceb524f6a5247be997&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe></div>
  </div>
  <br/>
</div>
 <br/>
 <div id="share">
  <h5>Share this on:</h5>
      <!-- facebook -->
      <a class="facebook" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}&placeholder={{title}}" target="blank"><i class="fab fa-facebook-f"></i></a>
    
      <!-- twitter -->
      <a class="twitter" href="https://twitter.com/intent/tweet?status=Come visit or Check Out this+{{title}}+Click on '+{{header_link}}+' on+{{url}}" target="blank"><i class="fab fa-twitter"></i></a>
    
     <!-- Reddit (url, title) -->
      <a href="http://reddit.com/submit?url={{url}}&title={{title}}" target="_blank" class="share-btn reddit">
        <i class="fab fa-reddit"></i>
      </a>

      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?url={{url}}&title={{title}}&summary={{summary}}&source={{source_url}}" target="_blank" class="share-btn linkedin">
        <i class="fab fa-linkedin"></i>
      </a>

      <!-- Email -->
      <a href="mailto:?subject={{subject}}&body={{body}}" target="_blank" class="share-btn email">
        <i class="fa fa-envelope"></i>
      </a>

    </div>
    <br/><br/>
